@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.animated-underline {
  background-image: linear-gradient(#33333300, #33333300),
    linear-gradient(to right, #23bb86, #fdeeee);
  background-size: 100% 2px, 0 2px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: 0.3s ease;
  transition-property: background-size, color, background-color, border-color;
}

.animated-underline:hover,
.animated-underline:focus-visible,
.project-card:hover .animated-underline,
.project-card:focus-visible .animated-underline {
  background-size: 0 2px, 100% 2px;
}

.link {
  color: #23bb86;
  cursor: pointer;
}
